---
import "@styles/index.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";

import HeroBanner from "@components/HeroBanner.astro";
import WebsiteHeader from "@components/WebsiteHeader.astro";
import AboutUs from "@components/AboutUs.astro";
import CurrentProjects from "@components/CurrentProjects.astro";
import Blog from "@components/Blog.astro";
import ContactUs from "@components/ContactUs.astro";
import WebsiteFooter from "@components/WebsiteFooter.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> @TODO GET /favicon.svg -->
        <title>Document</title>
    </head>
    <body>
        <WebsiteHeader />
        <main class="space-y-32">
            <HeroBanner />
            <AboutUs />
            <CurrentProjects />
            <Blog />
            <ContactUs />
            <WebsiteFooter />
        </main>
    </body>
</html>
