---
import ContainerSection from "@components/ContainerSection.astro";
import ProjectCard from "@components/ProjectCard.svelte";
---
<ContainerSection id="current-projects" size="container" class="text-center space-y-16" centered>
    <div class="space-y-8">
        <h2 class="text-4xl font-bold">Current Projects</h2>
        <ContainerSection size="4xl" class="text-xl text-center" centered>
            <p>
                Discover the apps and games we're currently developing
                and get a glimpse into our creative process.
            </p>
        </ContainerSection>
    </div>
    <ContainerSection size="full" class="grid grid-cols-1 lg:grid-cols-2 gap-8" centered>
        <!-- BEGIN PLACEHOLDER CONTENT -->
        <ProjectCard
            status="development"
            name="Whisper"
            image="/img/placeholder.svg"
            details="Real-time Communication App"
            description="..."
            tags={["Servers", "Channels", "RTC"]}
            href="#"
        />
        <ProjectCard
            status="planning"
            name="SFA Clone"
            image="/img/placeholder.svg"
            details="Space-themed Third-person Shooter"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dicta facilis quidem repudiandae, molestiae itaque expedita. Repellat cum quos sint minima dignissimos aliquam amet commodi quisquam natus numquam. Pariatur, dignissimos."
            tags={["TPS", "Sci-fi", "Exploration"]}
            href="#"
        />
        <!-- END PLACEHOLDER CONTENT -->
    </ContainerSection>
</ContainerSection>